#img_elon{
	height: 500px;
}

#title_page{
	color: white;
	background-color:  #17d380;
	font-family: 'Sriracha', cursive;
	padding: 10px 0px;
}

#innertitle{
	color: #d96929;
	font-family: 'Sriracha', cursive;
}

.card{
	width: 400px;
	transition: transform 0.5s;
}

body{
	background-color:   #5de3d7;
	overflow-x: hidden;
}

.card-title{
	font-family: 'Balsamiq Sans', cursive;
}

.card-text{
	font-family: 'Playfair Display', serif;
	font-size: 22px;
}

.card:hover{
	background-color: #d96929;
	color: white;
	transform: scale(1.05);
}