img.the_image{
	width: 380px;
	height:330px;
	border-radius: 50%;
	display: block;
	margin-left: 630px;
	margin-top: 50px;
}
p.quote{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 30px;
	margin-left: 550px;
	margin-top: 50px;	
}
p.intro{
	margin-left: 450px;
	margin-right: 300px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 30px;
	
}
p.achievement{
	margin-left: 450px;
	margin-right: 300px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 30px;
	
}
div.w3-bar-w3-black{
	margin-top: 130px;
	margin-left: 670px;

} 	